.footer {
  color: white;
  font-family: 'Fredericka the Great';
  font-size: 20px;
  display: inline;
  position: relative;
  left: 42%;
  border: 3px sol;

}
#aboutLink {
  font-size: 20px;
  position: relative;
  left: 7%;
}