<form class = "studyForm" *ngIf="showAddStudyItem" (ngSubmit) = "onSubmit()">
  <div>
    <label class = "formText" for="text">Study Item:</label>
    <input type="text" name="text" [(ngModel)]= "text" placeholder="Add study item">
  </div>
  <div>
    <label class = "formText" for="date">Date:</label>
    <input type="text" name="date" [(ngModel)]= "date"placeholder="Add study time and day">
  </div>
  <div>
    <label class = "formText" for="completed">Completed:</label>
    <input type="checkbox" name="completed" [(ngModel)]= "completed">
  </div>
  <div>
    <label class = "formText" for="timeSpent">Time Studying:</label>
    <input type="text" name="timeSpent" [(ngModel)]= "timeSpent" placeholder="Add time studying">
  </div>
  <div>
    <label class = "formText" for="focusLevel">Focus Level:</label>
    <input type="text" name="focusLevel" [(ngModel)]= "focusLevel" placeholder="Enter a value 0-10">
  </div>
  <div>
    <label class = "formText" for="productivityLevel">Productivity Level:</label>
    <input type="text" name="productivityLevel" [(ngModel)]= "productivityLevel" placeholder="Enter a value 0-10">
  </div>
  {{ text }}
  <input type="submit" value="Save Study Item">
</form>