@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 95%;
  margin: 30px auto;
  overflow: auto;
  min-height: 820px;
  border: 6px solid black;
  padding: 30px;
  border-radius: 25px;
  background-image: url("https://media.istockphoto.com/photos/old-school-chalkboard-picture-id589091614?b=1&k=20&m=589091614&s=170667a&w=0&h=PUYwwaVw2abMKXmAaDGC8msRBrIvDPl7PCvJaYQmEWo=");
  background-size: cover;
}
